openapi: 3.2.0
info:
  title: Nomad Health Default API
  version: '1.0'
  description: 'Operations tagged default across 2 of this provider''s published API definitions: nomad-health-api-openapi.yml, nomad-health-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://nomadhealth.com/api
- url: https://nomadhealth.com/
tags:
- name: Default
  description: Default namespace
paths:
  /admin-references/{provider_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_reference_api
      tags:
      - Default
      summary: Get admin reference api
      x-summary-source: derived
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_reference_api
      tags:
      - Default
      summary: Post admin reference api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /admin-references/{provider_id}/{reference_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    - name: reference_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_reference_detail_api
      tags:
      - Default
      summary: Put admin reference detail api
      x-summary-source: derived
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_admin_reference_detail_api
      tags:
      - Default
      summary: Delete admin reference detail api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /apply/{jobpost_id}/submit/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_submit_application_api
      tags:
      - Default
      summary: Post submit application api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /emr_system:
    get:
      responses:
        '200':
          description: Success
      summary: Returns full list of dictionary EmrSystem objects
      operationId: get_emr_api
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/api
  /facility/facility_autocomplete:
    get:
      responses:
        '200':
          description: Success
      summary: Get route for the facility autocomplete API
      description: 'Args:

        q (str): Taken from the QueryString to build the prefix


        Returns:

        Reponse with data as a List of dictionaries (defined in FacilityAutocompleteResponse)'
      operationId: get_facility_autocomplete_api
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/api
  /facility/{facility_id}/photo/{photo_id}:
    parameters:
    - name: facility_id
      in: path
      required: true
      schema:
        type: string
    - name: photo_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Set the hero image of a facility by moving the given
      description: photo to the front of the facility.photos list.
      operationId: put_facility_photo_api
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/api
  /facility/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_api
      tags:
      - Default
      summary: Get facility api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /facility/{id}/jobposts/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facilty_job_posts_api
      tags:
      - Default
      summary: Get facilty job posts api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /facility/{id}/weather:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_weather_api
      tags:
      - Default
      summary: Get facility weather api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /job-preferences/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_job_post_preference_api
      tags:
      - Default
      summary: Put job post preference api
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_preference_api
      tags:
      - Default
      summary: Get job post preference api
      x-summary-source: derived
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_preference_api
      tags:
      - Default
      summary: Post job post preference api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /jobposts/top-matches/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_top_matches_api
      tags:
      - Default
      summary: Get job post top matches api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /notifications/mobile-preferences/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_push_notification_preferences_api
      tags:
      - Default
      summary: Post push notification preferences api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /nurse/certifications:
    get:
      responses:
        '200':
          description: Success
      operationId: get_nurse_api
      tags:
      - Default
      summary: Get nurse api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /one-time-link/:
    post:
      responses:
        '200':
          description: Success
      summary: Generates a one time link for a given url
      operationId: post_one_time_link_api
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/api
  /open-api-spec/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_open_api_spec_api
      tags:
      - Default
      summary: Get open api spec api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /region:
    get:
      responses:
        '200':
          description: Success
      operationId: get_region_resource
      tags:
      - Default
      summary: Get region resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /user/{user_id}/profile/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_user_profile_api
      tags:
      - Default
      summary: Get user profile api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /waitlist:
    get:
      responses:
        '200':
          description: Success
      operationId: get_waitlist_api
      tags:
      - Default
      summary: Get waitlist api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/api
  /api/v1/account-manager/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_account_manager_list_resource
      tags:
      - Default
      summary: Get account manager list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/account-manager/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_account_manager_detail_resource
      tags:
      - Default
      summary: Get account manager detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/accounts/me/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_accounts_me_resource
      tags:
      - Default
      summary: Put accounts me resource
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_accounts_me_resource
      tags:
      - Default
      summary: Patch accounts me resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_accounts_me_resource
      tags:
      - Default
      summary: Get accounts me resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-accounts/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_accounts_resource
      tags:
      - Default
      summary: Get admin accounts resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-agency/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_agency_resource
      tags:
      - Default
      summary: Post admin agency resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_agency_resource
      tags:
      - Default
      summary: Get admin agency resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-agency/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_agency_detail_resource
      tags:
      - Default
      summary: Patch admin agency detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_agency_detail_resource
      tags:
      - Default
      summary: Get admin agency detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-application-review/data-reviews/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_data_reviews_list_resource
      tags:
      - Default
      summary: Post admin data reviews list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-application-review/external-verifications/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_external_verifications_resource
      tags:
      - Default
      summary: Post admin external verifications resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-application-review/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_review_sections_list_resource
      tags:
      - Default
      summary: Get admin application review sections list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-applications/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_application_resource
      tags:
      - Default
      summary: Patch admin application resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_resource
      tags:
      - Default
      summary: Get admin application resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-applications/{provider_id}/validation/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_validation_resource
      tags:
      - Default
      summary: Get admin application validation resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-documents/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_documents_resource
      tags:
      - Default
      summary: Get admin documents resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-documents/upload/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_documents_upload_resource
      tags:
      - Default
      summary: Post admin documents upload resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-facility/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_facility_admin_resource
      tags:
      - Default
      summary: Patch facility admin resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_admin_resource
      tags:
      - Default
      summary: Get facility admin resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-facility/{id}/jobposts/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_admin_job_posts_resource
      tags:
      - Default
      summary: Get facility admin job posts resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-jobposts/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_jobposts_search_resource
      tags:
      - Default
      summary: Get admin jobposts search resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-lead/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_lead_resource
      tags:
      - Default
      summary: Get admin lead resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-lead/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_lead_details_resource
      tags:
      - Default
      summary: Patch admin lead details resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_lead_details_resource
      tags:
      - Default
      summary: Get admin lead details resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-license-checks/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_license_checks_list
      tags:
      - Default
      summary: Get admin license checks list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-placements/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_placements_search_resource
      tags:
      - Default
      summary: Get admin placements search resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-profile-evaluation/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_profile_evaluation_api
      tags:
      - Default
      summary: Post admin profile evaluation api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-saved-search:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_saved_search_api
      tags:
      - Default
      summary: Post admin saved search api
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_saved_search_api
      tags:
      - Default
      summary: Patch admin saved search api
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_saved_search_api
      tags:
      - Default
      summary: Get admin saved search api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-saved-search/delete:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_saved_search_delete_api
      tags:
      - Default
      summary: Post admin saved search delete api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-user/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_user_create_resource
      tags:
      - Default
      summary: Post admin user create resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-user/form-options/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_user_form_options_resource
      tags:
      - Default
      summary: Get admin user form options resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-user/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_user_detail_resource
      tags:
      - Default
      summary: Put admin user detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_user_detail_resource
      tags:
      - Default
      summary: Get admin user detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-user/{id}/action/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_user_action_resource
      tags:
      - Default
      summary: Post admin user action resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-users/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_users_v1_api
      tags:
      - Default
      summary: Get admin users v1 api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-vms/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_vms_resource
      tags:
      - Default
      summary: Post admin vms resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_vms_resource
      tags:
      - Default
      summary: Get admin vms resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin-vms/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_vms_detail_resource
      tags:
      - Default
      summary: Patch admin vms detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_vms_detail_resource
      tags:
      - Default
      summary: Get admin vms detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/assignments:
    post:
      responses:
        '200':
          description: Success
      operationId: post_assignments_resource
      tags:
      - Default
      summary: Post assignments resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_assignments_resource
      tags:
      - Default
      summary: Get assignments resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/assignments/{assignment_id}:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_assignment
      tags:
      - Default
      summary: Put update assignment
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/assignments/{assignment_id}/bonus:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_add_assignment_bonus
      tags:
      - Default
      summary: Post add assignment bonus
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/assignments/{assignment_id}/bonus/{bonus_id}:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    - name: bonus_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_assignment_bonus
      tags:
      - Default
      summary: Put update assignment bonus
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/assignments/{assignment_id}/offers:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_assignment_offers
      tags:
      - Default
      summary: Get get assignment offers
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credential-candidate-group/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate group
      operationId: post_admin_credential_candidate_group_resource
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: List all credential candidate groups
      operationId: get_admin_credential_candidate_group_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credential-candidate-group/documents/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate group
      operationId: post_admin_credential_candidate_group_documents_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credential-candidate-group/{group_id}/:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Update a credential candidate group
      operationId: put_admin_credential_candidate_group_detail_resource
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: Get a specific credential candidate group
      operationId: get_admin_credential_candidate_group_detail_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credential-candidate-group/{group_id}/candidates/:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate within a group
      operationId: post_admin_credential_candidate_group_candidate_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credential-candidate/{candidate_id}/:
    parameters:
    - name: candidate_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Update a credential candidate
      operationId: put_admin_credential_candidate_resource
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: Get a credential candidate by ID
      operationId: get_admin_credential_candidate_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/assignees/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_assignees
      tags:
      - Default
      summary: Get assignees
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/categories/definition/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_get_category_definition
      tags:
      - Default
      summary: Get admin get category definition
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/clinicians/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_clinician_search
      tags:
      - Default
      summary: Get clinician search
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/clinicians/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_clinician_lookup
      tags:
      - Default
      summary: Get admin clinician lookup
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/credentials/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_credentials_browse
      tags:
      - Default
      summary: Get provider credentials browse
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/credentials/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_credential_update
      tags:
      - Default
      summary: Post credential update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/fx-compliance/requirements/status-update/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_fx_requirement_status_update
      tags:
      - Default
      summary: Patch fx requirement status update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/fx-compliance/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_clinician_lookup
      tags:
      - Default
      summary: Get fx clinician lookup
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirement-types/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_requirement_type
      tags:
      - Default
      summary: Post create requirement type
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirement-types/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_requirement_type_search
      tags:
      - Default
      summary: Get requirement type search
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirement-types/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_type_update
      tags:
      - Default
      summary: Post requirement type update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/clone:
    post:
      responses:
        '200':
          description: Success
      operationId: post_clone_requirements
      tags:
      - Default
      summary: Post clone requirements
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/complete-application-question/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_application_question_complete
      tags:
      - Default
      summary: Post admin requirement application question complete
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_requirements_complete
      tags:
      - Default
      summary: Put admin requirements complete
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_requirements
      tags:
      - Default
      summary: Post create requirements
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/delete/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_delete_requirement
      tags:
      - Default
      summary: Post delete requirement
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/initialize/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_placement_requirements_initialize
      tags:
      - Default
      summary: Post placement requirements initialize
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/reset/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_reset
      tags:
      - Default
      summary: Post requirement reset
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/requirements/status-update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_status_update
      tags:
      - Default
      summary: Post admin requirement status update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_template_browse
      tags:
      - Default
      summary: Get facility template browse
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/bulk-create-from-placement/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_templates_bulk_create_from_placement
      tags:
      - Default
      summary: Post templates bulk create from placement
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/source/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_requirement_source_browse
      tags:
      - Default
      summary: Get requirement source browse
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/source/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_source_create
      tags:
      - Default
      summary: Post admin requirement source create
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/source/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_requirement_source_update
      tags:
      - Default
      summary: Put admin requirement source update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/template/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_templates_create
      tags:
      - Default
      summary: Post admin templates create
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/template/delete/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_templates_deactivate
      tags:
      - Default
      summary: Post admin templates deactivate
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/templates/template/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_templates_update
      tags:
      - Default
      summary: Put admin templates update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/timecards/export/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_export
      tags:
      - Default
      summary: Get admin timecard export
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/timecards/requirements/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_create_timecards
      tags:
      - Default
      summary: Post admin create timecards
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/timecards/requirements/list/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_list
      tags:
      - Default
      summary: Get admin timecard list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/timecards/requirements/update/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_update_requirement
      tags:
      - Default
      summary: Patch admin update requirement
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/credentialing/timecards/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_get
      tags:
      - Default
      summary: Get admin timecard get
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/job-preferences/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_preferences_resource
      tags:
      - Default
      summary: Get job preferences resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_browse_offers
      tags:
      - Default
      summary: Get browse offers
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_offers
      tags:
      - Default
      summary: Post create offers
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/default-rates/{jobpost_id}:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_bill_rate_modifiers
      tags:
      - Default
      summary: Get bill rate modifiers
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/publish/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_publish_offer
      tags:
      - Default
      summary: Put publish offer
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/status/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_acceptance_status
      tags:
      - Default
      summary: Put update acceptance status
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/update-contract:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers_contract
      tags:
      - Default
      summary: Put update offers contract
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/update-notes:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers_notes
      tags:
      - Default
      summary: Put update offers notes
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers
      tags:
      - Default
      summary: Put update offers
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/view/{offer_id}/:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_view_offer
      tags:
      - Default
      summary: Get view offer
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/offers/zendesk/{offer_id}:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_upsert_offer_zendesk_ticket
      tags:
      - Default
      summary: Post upsert offer zendesk ticket
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/acknowledge-recent-events/:
    put:
      responses:
        '200':
          description: Success
      summary: Acknowledges a provider's recent events for a logged-in premier navigator
      operationId: put_premier_navigator_admin_acknowledge_recent_events_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/availability-date/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Updates the availability date for a provider
      operationId: put_premier_navigator_availability_date_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/available-voice-endpoints/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_available_voice_endpoints_resource
      tags:
      - Default
      summary: Get premier navigator available voice endpoints resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/claim-provider/:
    put:
      responses:
        '200':
          description: Success
      summary: Claims a provider for a logged-in premier navigator
      operationId: put_premier_navigator_admin_claim_provider_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/claimed-queue/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_claimed_queue_list_resource
      tags:
      - Default
      summary: Get premier navigator admin claimed queue list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/jobpost-communication/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_admin_jobpost_communication_resource
      tags:
      - Default
      summary: Post premier navigator admin jobpost communication resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_jobpost_communication_resource
      tags:
      - Default
      summary: Get premier navigator admin jobpost communication resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/live-jobs-v2/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_live_jobs_v2_resource
      tags:
      - Default
      summary: Get premier navigator admin live jobs v2 resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/live-jobs/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_live_jobs_resource
      tags:
      - Default
      summary: Get premier navigator admin live jobs resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_messages_list_resource
      tags:
      - Default
      summary: Get premier navigator messages list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/conversations/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_conversations_list_resource
      tags:
      - Default
      summary: Get premier navigator conversations list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/conversations/{conversation_id}/mark-read/:
    parameters:
    - name: conversation_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_mark_conversation_read_resource
      tags:
      - Default
      summary: Post mark conversation read resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/mark-read/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_mark_messages_read_resource
      tags:
      - Default
      summary: Post mark messages read resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/send/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_send_message_resource
      tags:
      - Default
      summary: Post premier navigator send message resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/suggested-messages/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_suggested_message_resource
      tags:
      - Default
      summary: Get premier navigator suggested message resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/suggested-messages/generate/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_generate_suggested_message_resource
      tags:
      - Default
      summary: Post premier navigator generate suggested message resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/suggested-messages/task/{task_id}/:
    parameters:
    - name: task_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_get_suggested_message_task_resource
      tags:
      - Default
      summary: Get premier navigator get suggested message task resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/unread-count/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_message_unread_count_resource
      tags:
      - Default
      summary: Get message unread count resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/voice-calls/{call_id}/status/:
    parameters:
    - name: call_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_voice_message_status_resource
      tags:
      - Default
      summary: Get voice message status resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/{message_id}/attachment/{attachment_id}/:
    parameters:
    - name: message_id
      in: path
      required: true
      schema:
        type: string
    - name: attachment_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_mms_media_resource
      tags:
      - Default
      summary: Get mms media resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/messages/{message_id}/recording/:
    parameters:
    - name: message_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_voice_message_recording_resource
      tags:
      - Default
      summary: Get voice message recording resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/provider/{provider_id}/high-priority/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      summary: Marks a provider as high priority for a logged-in premier navigator
      operationId: post_premier_navigator_provider_high_priority_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/providers-for-job/{job_id}/:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: Get providers that match a job's specialization
      description: 'This endpoint supports 3 tabs in the ui:


        All:

        - Cln''s Specializations match the job, expanded by specialty matrix

        - Uses token-based pagination (search_before/search_after)

        - Sorted by apply intent score by default


        "My Matching Clinicians":

        - Clinicians claimed by the requesting PN


        "Unclaimed Matching Clinicians":

        - Clinicians not claimed by any PN

        - At least minimum qualified for the job

        - Capped at 25 records (no pagination)


        "Claimed Matching Clinicians" - this UI is used by PN Managers and AMs:

        - Clinicians claimed by ANY PN

        - At least minimum qualified for the job


        Note about the claimed filter:

        *** this maps to claimed BY THE AUTHED CALLER, not claimed BY ANY PN ***'
      operationId: get_premier_navigator_providers_for_job_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/reminders/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_reminders_list_resource
      tags:
      - Default
      summary: Post premier navigator reminders list resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_reminders_list_resource
      tags:
      - Default
      summary: Get premier navigator reminders list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/reminders/{reminder_id}/:
    parameters:
    - name: reminder_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_premier_navigator_reminder_resource
      tags:
      - Default
      summary: Delete premier navigator reminder resource
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_reminder_resource
      tags:
      - Default
      summary: Patch premier navigator reminder resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/reminders/{reminder_id}/acknowledge/:
    parameters:
    - name: reminder_id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_reminder_acknowledge_resource
      tags:
      - Default
      summary: Patch premier navigator reminder acknowledge resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/unclaim-provider/:
    put:
      responses:
        '200':
          description: Success
      summary: Unclaims a provider from a logged-in premier navigator
      operationId: put_premier_navigator_admin_unclaim_provider_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/unclaimed-queue/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_unclaimed_queue_list_resource
      tags:
      - Default
      summary: Get premier navigator admin unclaimed queue list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/users/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_user_list_resource
      tags:
      - Default
      summary: Get premier navigator admin user list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/users/{user_id}/routing/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Updates the routing config for a premier navigator
      operationId: put_premier_navigator_admin_user_routing_resource
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_user_routing_resource
      tags:
      - Default
      summary: Get premier navigator admin user routing resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/verify-specialization/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_verify_specialization_resource
      tags:
      - Default
      summary: Post premier navigator verify specialization resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/voice-calls/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_outbound_voice_call_resource
      tags:
      - Default
      summary: Post premier navigator outbound voice call resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/premier-navigator/voice-inbound-availability/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_voice_inbound_availability_resource
      tags:
      - Default
      summary: Patch premier navigator voice inbound availability resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_voice_inbound_availability_resource
      tags:
      - Default
      summary: Get premier navigator voice inbound availability resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/prioritized-placements/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_prioritized_placements
      tags:
      - Default
      summary: Get prioritized placements
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/providers/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_provider_resource
      tags:
      - Default
      summary: Get admin provider resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/admin/referrals/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_referrals_referral_resource
      tags:
      - Default
      summary: Patch referrals referral resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/agency/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_agency_resource
      tags:
      - Default
      summary: Get agency resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/agency/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_agency_detail_resource
      tags:
      - Default
      summary: Get agency detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application-autopilot-user/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_autopilot_users_resource
      tags:
      - Default
      summary: Delete application autopilot users resource
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_autopilot_users_resource
      tags:
      - Default
      summary: Patch application autopilot users resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_autopilot_users_resource
      tags:
      - Default
      summary: Get application autopilot users resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application-autopilot-users/list:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_autopilot_users_list_resource
      tags:
      - Default
      summary: Post application autopilot users list resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_autopilot_users_list_resource
      tags:
      - Default
      summary: Get application autopilot users list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application-cart/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_cart_resource
      tags:
      - Default
      summary: Post application cart resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_cart_resource
      tags:
      - Default
      summary: Get application cart resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application-cart/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_cart_detail_resource
      tags:
      - Default
      summary: Delete application cart detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application-center/items/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_center_items_resource
      tags:
      - Default
      summary: Get application center items resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_resource
      tags:
      - Default
      summary: Patch application resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_resource
      tags:
      - Default
      summary: Get application resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/apply/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_apply_resource
      tags:
      - Default
      summary: Post application apply resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/data/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_data_list_resource
      tags:
      - Default
      summary: Post application data list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/data/submit/credential-candidates/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_credential_candidates_resource
      tags:
      - Default
      summary: Put credential candidates resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/data/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_data_detail_resource
      tags:
      - Default
      summary: Delete application data detail resource
      x-summary-source: derived
    put:
      responses:
        '200':
          description: Success
      operationId: put_application_data_detail_resource
      tags:
      - Default
      summary: Put application data detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_data_detail_resource
      tags:
      - Default
      summary: Get application data detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/form-schemas/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_form_schemas_list_resource
      tags:
      - Default
      summary: Get application form schemas list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_sections_list_resource
      tags:
      - Default
      summary: Get application sections list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/validation/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_validation_resource
      tags:
      - Default
      summary: Get application validation resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application/vetting/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_vetting_resource
      tags:
      - Default
      summary: Get application vetting resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application_center/applications/:
    get:
      responses:
        '200':
          description: Success
      summary: List all applications and their status details for a provider,
      description: filtered by status. For the application center page.
      operationId: get_application_center
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application_center/vetting/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_center_app_vetting
      tags:
      - Default
      summary: Get application center app vetting
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/application_center/withdraw/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_center_withdraw_app
      tags:
      - Default
      summary: Post application center withdraw app
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/applications/easy-apply/status/:
    get:
      responses:
        '200':
          description: Success
      summary: Checks a user's easy-apply status
      operationId: get_easy_apply_status_api
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/applications/jobpost/{jobpost_id}:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_application
      tags:
      - Default
      summary: Get job post application
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/applications/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_resource
      tags:
      - Default
      summary: Patch application resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_resource
      tags:
      - Default
      summary: Get application resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/applications/{id}/validation/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_validation_resource
      tags:
      - Default
      summary: Get application validation resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/applications/{id}/work-experience-facilities/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_work_experience_facilities_resource
      tags:
      - Default
      summary: Get application work experience facilities resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/assessments/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_assessments_api
      tags:
      - Default
      summary: Post assessments api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/audit-events/{entity}/{id}/:
    parameters:
    - name: entity
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_audit_events_list
      tags:
      - Default
      summary: Get audit events list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/auth/login-link/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_login_link_resource
      tags:
      - Default
      summary: Post auth login link resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/auth/login/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_login_resource
      tags:
      - Default
      summary: Post auth login resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/auth/logout/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_logout_resource
      tags:
      - Default
      summary: Post auth logout resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/auth/reauthenticate/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reauthenticate_resource
      tags:
      - Default
      summary: Post reauthenticate resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/badge/all/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_badge_resource
      tags:
      - Default
      summary: Get badge resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/campaign/categories:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_categories_api
      tags:
      - Default
      summary: Get campaign categories api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/campaign/jobs:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_jobs_api
      tags:
      - Default
      summary: Get campaign jobs api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/campaign/statistics:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_statistics_api
      tags:
      - Default
      summary: Get campaign statistics api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/campaign/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_campaign_api
      tags:
      - Default
      summary: Delete campaign api
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_campaign_api
      tags:
      - Default
      summary: Patch campaign api
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_api
      tags:
      - Default
      summary: Get campaign api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/campaigns/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_campaigns_api
      tags:
      - Default
      summary: Post campaigns api
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaigns_api
      tags:
      - Default
      summary: Get campaigns api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/certification-names/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certification_names
      tags:
      - Default
      summary: Get certification names
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/certifications/all/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certifications_resource
      tags:
      - Default
      summary: Get certifications resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/certifications/clinical/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certifications_clinical
      tags:
      - Default
      summary: Get certifications clinical
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/communications/settings/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_communication_settings_resource
      tags:
      - Default
      summary: Post communication settings resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_communication_settings_resource
      tags:
      - Default
      summary: Get communication settings resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/confirm_email:
    post:
      responses:
        '200':
          description: Success
      operationId: post_confirm_email
      tags:
      - Default
      summary: Post confirm email
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credential-candidate/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_credential_candidate_sections_list_resource
      tags:
      - Default
      summary: Get credential candidate sections list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/categories/definition/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_category_definition
      tags:
      - Default
      summary: Get get category definition
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/categories/schema/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_category_schema_detail
      tags:
      - Default
      summary: Get category schema detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/categories/scope/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_valid_categories_by_scope
      tags:
      - Default
      summary: Get get valid categories by scope
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/clinicians/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_clinician_lookup
      tags:
      - Default
      summary: Get clinician lookup
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/credentials/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_credential_browse
      tags:
      - Default
      summary: Get credential browse
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/requirements/complete-application-question/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_application_question_complete
      tags:
      - Default
      summary: Post requirement application question complete
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/requirements/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_requirements_complete
      tags:
      - Default
      summary: Put requirements complete
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/requirements/reset/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reset_requirement
      tags:
      - Default
      summary: Post reset requirement
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/timecards/browse/current/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_timecards_by_placement_browse_current
      tags:
      - Default
      summary: Get timecards by placement browse current
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/timecards/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_timecard_complete
      tags:
      - Default
      summary: Put timecard complete
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/timecards/shifts/shift_types/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_timecard_shift_types
      tags:
      - Default
      summary: Get timecard shift types
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/timecards/submit/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_timecard_submit
      tags:
      - Default
      summary: Put timecard submit
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentialing/timecards/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_timecard_update
      tags:
      - Default
      summary: Post timecard update
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentials/provider-data/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_credentials_provider_data_resource
      tags:
      - Default
      summary: Get credentials provider data resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/credentials/timeline/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: 'NOTE: "state_nursing_license" category will be includes after finishing WFP-266'
      operationId: get_admin_timeline_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/facilities/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_facilities_detail
      tags:
      - Default
      summary: Get demand entity facilities detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/facilities/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_facility_detail
      tags:
      - Default
      summary: Get demand entity facility detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/health_systems/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_health_systems_detail
      tags:
      - Default
      summary: Get demand entity health systems detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/health_systems/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_health_system_detail
      tags:
      - Default
      summary: Get demand entity health system detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/msp/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_msps_detail
      tags:
      - Default
      summary: Get demand entity msps detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/msp/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_msp_detail
      tags:
      - Default
      summary: Get demand entity msp detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/specializations/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specializations_detail
      tags:
      - Default
      summary: Get demand entity specializations detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/specializations/codes/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail_by_codes
      tags:
      - Default
      summary: Get demand entity specialization detail by codes
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/specializations/codes/{code}/:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail_by_code
      tags:
      - Default
      summary: Get demand entity specialization detail by code
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/demand_entity/specializations/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail
      tags:
      - Default
      summary: Get demand entity specialization detail
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/discipline-info/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_discipline_info_list_api
      tags:
      - Default
      summary: Get discipline info list api
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/discipline-names/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_discipline_names_list
      tags:
      - Default
      summary: Get discipline names list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/documents/:
    get:
      responses:
        '200':
          description: Success
      summary: Fetch documents
      operationId: get_documents_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/documents/provider/upload/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_documents_provider_upload_api_resource
      tags:
      - Default
      summary: Post documents provider upload api resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/dyna-home/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_dyna_home_list_resource
      tags:
      - Default
      summary: Get dyna home list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/education-types/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_education_types_resource
      tags:
      - Default
      summary: Get education types resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/events/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_event_list
      tags:
      - Default
      summary: Get event list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/events/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_events
      tags:
      - Default
      summary: Get events
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/external-verification-authorities-for-provider/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_valid_external_verification_authorities_for_provider_resource
      tags:
      - Default
      summary: Get get valid external verification authorities for provider resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/external-verifications/{external_verification_id}/:
    parameters:
    - name: external_verification_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_delete_external_verification_resource
      tags:
      - Default
      summary: Delete delete external verification resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/facility/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_facility_base_resource
      tags:
      - Default
      summary: Post facility base resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/facility/form-options/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_form_options_resource
      tags:
      - Default
      summary: Get facility form options resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/facility/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_search_resource
      tags:
      - Default
      summary: Get facility search resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/facility/{id_or_slug}/:
    parameters:
    - name: id_or_slug
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_details_by_id_or_slug_resource
      tags:
      - Default
      summary: Get facility details by id or slug resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/facility/{id}/edit/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_facility_edit_resource
      tags:
      - Default
      summary: Put facility edit resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_edit_resource
      tags:
      - Default
      summary: Get facility edit resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_accounts_list_resource
      tags:
      - Default
      summary: Post fx accounts list resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_accounts_list_resource
      tags:
      - Default
      summary: Get fx accounts list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/{account_id}/candidates-job-posts/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: Retrieves a list of Candidates Job Posts for a facility
      description: 'NOTE: the Bill Rate Insight average can contain either arithmetic mean or median'
      operationId: get_candidates_job_posts_list_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/{account_id}/candidates-job-posts/{id}/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_candidates_job_posts_detail_resource
      tags:
      - Default
      summary: Patch candidates job posts detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      summary: Retrieves a single Candidates Job Post
      description: 'NOTE: the Bill Rate Insight average can contain either arithmetic mean or median'
      operationId: get_candidates_job_posts_detail_resource
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/{account_id}/users/{id}/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_fx_account_users_detail_resource
      tags:
      - Default
      summary: Delete fx account users detail resource
      x-summary-source: derived
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_account_users_detail_resource
      tags:
      - Default
      summary: Put fx account users detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_account_users_detail_resource
      tags:
      - Default
      summary: Get fx account users detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_accounts_detail_resource
      tags:
      - Default
      summary: Put fx accounts detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_accounts_detail_resource
      tags:
      - Default
      summary: Get fx accounts detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/accounts/{id}/users/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_account_users_resource
      tags:
      - Default
      summary: Post fx account users resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_account_users_resource
      tags:
      - Default
      summary: Get fx account users resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/candidates/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_list_resource
      tags:
      - Default
      summary: Get candidates list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/candidates/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_detail_resource
      tags:
      - Default
      summary: Get candidates detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/candidates/{id}/offer/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_candidates_detail_offer_resource
      tags:
      - Default
      summary: Post candidates detail offer resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_detail_offer_resource
      tags:
      - Default
      summary: Get candidates detail offer resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/users/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_users_list_resource
      tags:
      - Default
      summary: Post fx users list resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_list_resource
      tags:
      - Default
      summary: Get fx users list resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/users/me/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_me_resource
      tags:
      - Default
      summary: Get fx users me resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/users/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_users_detail_resource
      tags:
      - Default
      summary: Put fx users detail resource
      x-summary-source: derived
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_detail_resource
      tags:
      - Default
      summary: Get fx users detail resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/fx/users/{id}/identities/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_users_identities_resource
      tags:
      - Default
      summary: Post fx users identities resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/health-system/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_health_system_search_resource
      tags:
      - Default
      summary: Get health system search resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/health-systems-autocomplete:
    get:
      responses:
        '200':
          description: Success
      operationId: get_health_system_autocomplete_resource
      tags:
      - Default
      summary: Get health system autocomplete resource
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/health-systems/:
    post:
      responses:
        '200':
          description: Success
      summary: This endpoint will create a new health system and return the newly created…
      operationId: post_health_system_list
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will return all of the matching health systems according
      description: to the given query.
      operationId: get_health_system_list
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/health-systems/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      summary: This endpoint will update the given fields on the health system entity,
      description: it will return the updated health system.
      operationId: patch_health_system_detail
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will get the entire health system object according to the…
      operationId: get_health_system_detail
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/hellosign/signature-request-events/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_hellosign_signature_request_event
      tags:
      - Default
      summary: Post hellosign signature request event
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/incidents/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new incident
      operationId: post_incidents_list
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: List all incidents unless filtered by provided query parameters
      operationId: get_incidents_list
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/incidents/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      summary: Delete an incident
      operationId: delete_incidents_detail
      tags:
      - Default
    patch:
      responses:
        '200':
          description: Success
      summary: Update given fields and return updated incident
      operationId: patch_incidents_detail
      tags:
      - Default
    get:
      responses:
        '200':
          description: Success
      summary: Details about an incident
      operationId: get_incidents_detail
      tags:
      - Default
    servers:
    - url: https://nomadhealth.com/
  /api/v1/internal/communications/dataclass-schemas/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_data_class_list
      tags:
      - Default
      summary: Get data class list
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/internal/communications/dataclass-schemas/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_data_class
      tags:
      - Default
      summary: Get data class
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/iterable/channel-unsubscribes:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_channel_unsubscribes
      tags:
      - Default
      summary: Patch channel unsubscribes
      x-summary-source: derived
    servers:
    - url: https://nomadhealth.com/
  /api/v1/iterable/datafeed/job-digest/{user_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
[...]
