swagger: '2.0'
basePath: /api
paths:
  /admin-references/{provider_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_reference_api
      tags:
      - default
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_reference_api
      tags:
      - default
  /admin-references/{provider_id}/{reference_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      type: string
    - name: reference_id
      in: path
      required: true
      type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_reference_detail_api
      tags:
      - default
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_admin_reference_detail_api
      tags:
      - default
  /apply/{jobpost_id}/submit/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_submit_application_api
      tags:
      - default
  /emr_system:
    get:
      responses:
        '200':
          description: Success
      summary: Returns full list of dictionary EmrSystem objects
      operationId: get_emr_api
      tags:
      - default
  /facility/facility_autocomplete:
    get:
      responses:
        '200':
          description: Success
      summary: Get route for the facility autocomplete API
      description: "Args:\n    q (str): Taken from the QueryString to build the prefix\n\nReturns:\n    Reponse with data as a List of dictionaries (defined in FacilityAutocompleteResponse)"
      operationId: get_facility_autocomplete_api
      tags:
      - default
  /facility/{facility_id}/photo/{photo_id}:
    parameters:
    - name: facility_id
      in: path
      required: true
      type: string
    - name: photo_id
      in: path
      required: true
      type: string
    put:
      responses:
        '200':
          description: Success
      summary: Set the hero image of a facility by moving the given
      description: photo to the front of the facility.photos list.
      operationId: put_facility_photo_api
      tags:
      - default
  /facility/{id}:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_api
      tags:
      - default
  /facility/{id}/jobposts/:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facilty_job_posts_api
      tags:
      - default
  /facility/{id}/weather:
    parameters:
    - name: id
      in: path
      required: true
      type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_weather_api
      tags:
      - default
  /job-preferences/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_job_post_preference_api
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_preference_api
      tags:
      - default
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_preference_api
      tags:
      - default
  /jobposts/top-matches/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_top_matches_api
      tags:
      - default
  /notifications/mobile-preferences/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_push_notification_preferences_api
      tags:
      - default
  /nurse/certifications:
    get:
      responses:
        '200':
          description: Success
      operationId: get_nurse_api
      tags:
      - default
  /one-time-link/:
    post:
      responses:
        '200':
          description: Success
      summary: Generates a one time link for a given url
      operationId: post_one_time_link_api
      tags:
      - default
  /open-api-spec/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_open_api_spec_api
      tags:
      - default
  /region:
    get:
      responses:
        '200':
          description: Success
      operationId: get_region_resource
      tags:
      - default
  /user/{user_id}/profile/:
    parameters:
    - name: user_id
      in: path
      required: true
      type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_user_profile_api
      tags:
      - default
  /waitlist:
    get:
      responses:
        '200':
          description: Success
      operationId: get_waitlist_api
      tags:
      - default
info:
  title: API
  version: '1.0'
produces:
- application/json
consumes:
- application/json
tags:
- name: default
  description: Default namespace
responses:
  ParseError:
    description: When a mask can't be parsed
  MaskError:
    description: When any error occurs on mask
host: nomadhealth.com
