openapi: 3.2.0
info:
  title: Nomad Health Default API
  version: '1.0'
  description: 'Operations tagged default across 2 of this provider''s published API definitions: nomad-health-api-openapi.yml, nomad-health-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://nomadhealth.com/api
tags:
- name: default
  description: Default namespace
paths:
  /admin-references/{provider_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_reference_api
      tags:
      - default
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_reference_api
      tags:
      - default
  /admin-references/{provider_id}/{reference_id}:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    - name: reference_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_reference_detail_api
      tags:
      - default
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_admin_reference_detail_api
      tags:
      - default
  /apply/{jobpost_id}/submit/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_submit_application_api
      tags:
      - default
  /emr_system:
    get:
      responses:
        '200':
          description: Success
      summary: Returns full list of dictionary EmrSystem objects
      operationId: get_emr_api
      tags:
      - default
  /facility/facility_autocomplete:
    get:
      responses:
        '200':
          description: Success
      summary: Get route for the facility autocomplete API
      description: "Args:\n    q (str): Taken from the QueryString to build the prefix\n\nReturns:\n    Reponse with data as a List of dictionaries (defined in FacilityAutocompleteResponse)"
      operationId: get_facility_autocomplete_api
      tags:
      - default
  /facility/{facility_id}/photo/{photo_id}:
    parameters:
    - name: facility_id
      in: path
      required: true
      schema:
        type: string
    - name: photo_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Set the hero image of a facility by moving the given
      description: photo to the front of the facility.photos list.
      operationId: put_facility_photo_api
      tags:
      - default
  /facility/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_api
      tags:
      - default
  /facility/{id}/jobposts/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facilty_job_posts_api
      tags:
      - default
  /facility/{id}/weather:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_weather_api
      tags:
      - default
  /job-preferences/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_job_post_preference_api
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_preference_api
      tags:
      - default
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_preference_api
      tags:
      - default
  /jobposts/top-matches/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_top_matches_api
      tags:
      - default
  /notifications/mobile-preferences/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_push_notification_preferences_api
      tags:
      - default
  /nurse/certifications:
    get:
      responses:
        '200':
          description: Success
      operationId: get_nurse_api
      tags:
      - default
  /one-time-link/:
    post:
      responses:
        '200':
          description: Success
      summary: Generates a one time link for a given url
      operationId: post_one_time_link_api
      tags:
      - default
  /open-api-spec/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_open_api_spec_api
      tags:
      - default
  /region:
    get:
      responses:
        '200':
          description: Success
      operationId: get_region_resource
      tags:
      - default
  /user/{user_id}/profile/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_user_profile_api
      tags:
      - default
  /waitlist:
    get:
      responses:
        '200':
          description: Success
      operationId: get_waitlist_api
      tags:
      - default
  /api/v1/account-manager/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_account_manager_list_resource
      tags:
      - default
  /api/v1/account-manager/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_account_manager_detail_resource
      tags:
      - default
  /api/v1/accounts/me/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_accounts_me_resource
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_accounts_me_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_accounts_me_resource
      tags:
      - default
  /api/v1/admin-accounts/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_accounts_resource
      tags:
      - default
  /api/v1/admin-agency/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_agency_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_agency_resource
      tags:
      - default
  /api/v1/admin-agency/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_agency_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_agency_detail_resource
      tags:
      - default
  /api/v1/admin-application-review/data-reviews/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_data_reviews_list_resource
      tags:
      - default
  /api/v1/admin-application-review/external-verifications/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_external_verifications_resource
      tags:
      - default
  /api/v1/admin-application-review/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_review_sections_list_resource
      tags:
      - default
  /api/v1/admin-applications/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_application_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_resource
      tags:
      - default
  /api/v1/admin-applications/{provider_id}/validation/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_application_validation_resource
      tags:
      - default
  /api/v1/admin-documents/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_documents_resource
      tags:
      - default
  /api/v1/admin-documents/upload/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_documents_upload_resource
      tags:
      - default
  /api/v1/admin-facility/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_facility_admin_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_admin_resource
      tags:
      - default
  /api/v1/admin-facility/{id}/jobposts/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_admin_job_posts_resource
      tags:
      - default
  /api/v1/admin-jobposts/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_jobposts_search_resource
      tags:
      - default
  /api/v1/admin-lead/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_lead_resource
      tags:
      - default
  /api/v1/admin-lead/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_lead_details_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_lead_details_resource
      tags:
      - default
  /api/v1/admin-license-checks/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_license_checks_list
      tags:
      - default
  /api/v1/admin-placements/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_placements_search_resource
      tags:
      - default
  /api/v1/admin-profile-evaluation/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_profile_evaluation_api
      tags:
      - default
  /api/v1/admin-saved-search:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_saved_search_api
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_saved_search_api
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_saved_search_api
      tags:
      - default
  /api/v1/admin-saved-search/delete:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_saved_search_delete_api
      tags:
      - default
  /api/v1/admin-user/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_user_create_resource
      tags:
      - default
  /api/v1/admin-user/form-options/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_user_form_options_resource
      tags:
      - default
  /api/v1/admin-user/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_user_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_user_detail_resource
      tags:
      - default
  /api/v1/admin-user/{id}/action/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_user_action_resource
      tags:
      - default
  /api/v1/admin-users/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_users_v1_api
      tags:
      - default
  /api/v1/admin-vms/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_vms_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_vms_resource
      tags:
      - default
  /api/v1/admin-vms/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_vms_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_vms_detail_resource
      tags:
      - default
  /api/v1/admin/assignments:
    post:
      responses:
        '200':
          description: Success
      operationId: post_assignments_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_assignments_resource
      tags:
      - default
  /api/v1/admin/assignments/{assignment_id}:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_assignment
      tags:
      - default
  /api/v1/admin/assignments/{assignment_id}/bonus:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_add_assignment_bonus
      tags:
      - default
  /api/v1/admin/assignments/{assignment_id}/bonus/{bonus_id}:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    - name: bonus_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_assignment_bonus
      tags:
      - default
  /api/v1/admin/assignments/{assignment_id}/offers:
    parameters:
    - name: assignment_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_assignment_offers
      tags:
      - default
  /api/v1/admin/credential-candidate-group/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate group
      operationId: post_admin_credential_candidate_group_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: List all credential candidate groups
      operationId: get_admin_credential_candidate_group_resource
      tags:
      - default
  /api/v1/admin/credential-candidate-group/documents/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate group
      operationId: post_admin_credential_candidate_group_documents_resource
      tags:
      - default
  /api/v1/admin/credential-candidate-group/{group_id}/:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Update a credential candidate group
      operationId: put_admin_credential_candidate_group_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: Get a specific credential candidate group
      operationId: get_admin_credential_candidate_group_detail_resource
      tags:
      - default
  /api/v1/admin/credential-candidate-group/{group_id}/candidates/:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      summary: Create a new credential candidate within a group
      operationId: post_admin_credential_candidate_group_candidate_resource
      tags:
      - default
  /api/v1/admin/credential-candidate/{candidate_id}/:
    parameters:
    - name: candidate_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Update a credential candidate
      operationId: put_admin_credential_candidate_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: Get a credential candidate by ID
      operationId: get_admin_credential_candidate_resource
      tags:
      - default
  /api/v1/admin/credentialing/assignees/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_assignees
      tags:
      - default
  /api/v1/admin/credentialing/categories/definition/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_get_category_definition
      tags:
      - default
  /api/v1/admin/credentialing/clinicians/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_clinician_search
      tags:
      - default
  /api/v1/admin/credentialing/clinicians/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_clinician_lookup
      tags:
      - default
  /api/v1/admin/credentialing/credentials/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_credentials_browse
      tags:
      - default
  /api/v1/admin/credentialing/credentials/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_credential_update
      tags:
      - default
  /api/v1/admin/credentialing/fx-compliance/requirements/status-update/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_fx_requirement_status_update
      tags:
      - default
  /api/v1/admin/credentialing/fx-compliance/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_clinician_lookup
      tags:
      - default
  /api/v1/admin/credentialing/requirement-types/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_requirement_type
      tags:
      - default
  /api/v1/admin/credentialing/requirement-types/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_requirement_type_search
      tags:
      - default
  /api/v1/admin/credentialing/requirement-types/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_type_update
      tags:
      - default
  /api/v1/admin/credentialing/requirements/clone:
    post:
      responses:
        '200':
          description: Success
      operationId: post_clone_requirements
      tags:
      - default
  /api/v1/admin/credentialing/requirements/complete-application-question/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_application_question_complete
      tags:
      - default
  /api/v1/admin/credentialing/requirements/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_requirements_complete
      tags:
      - default
  /api/v1/admin/credentialing/requirements/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_requirements
      tags:
      - default
  /api/v1/admin/credentialing/requirements/delete/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_delete_requirement
      tags:
      - default
  /api/v1/admin/credentialing/requirements/initialize/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_placement_requirements_initialize
      tags:
      - default
  /api/v1/admin/credentialing/requirements/reset/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_reset
      tags:
      - default
  /api/v1/admin/credentialing/requirements/status-update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_status_update
      tags:
      - default
  /api/v1/admin/credentialing/templates/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_template_browse
      tags:
      - default
  /api/v1/admin/credentialing/templates/bulk-create-from-placement/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_templates_bulk_create_from_placement
      tags:
      - default
  /api/v1/admin/credentialing/templates/source/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_requirement_source_browse
      tags:
      - default
  /api/v1/admin/credentialing/templates/source/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_requirement_source_create
      tags:
      - default
  /api/v1/admin/credentialing/templates/source/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_requirement_source_update
      tags:
      - default
  /api/v1/admin/credentialing/templates/template/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_templates_create
      tags:
      - default
  /api/v1/admin/credentialing/templates/template/delete/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_templates_deactivate
      tags:
      - default
  /api/v1/admin/credentialing/templates/template/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_admin_templates_update
      tags:
      - default
  /api/v1/admin/credentialing/timecards/export/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_export
      tags:
      - default
  /api/v1/admin/credentialing/timecards/requirements/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_create_timecards
      tags:
      - default
  /api/v1/admin/credentialing/timecards/requirements/list/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_list
      tags:
      - default
  /api/v1/admin/credentialing/timecards/requirements/update/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_admin_update_requirement
      tags:
      - default
  /api/v1/admin/credentialing/timecards/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_timecard_get
      tags:
      - default
  /api/v1/admin/job-preferences/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_preferences_resource
      tags:
      - default
  /api/v1/admin/offers/browse/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_browse_offers
      tags:
      - default
  /api/v1/admin/offers/create/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_create_offers
      tags:
      - default
  /api/v1/admin/offers/default-rates/{jobpost_id}:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_bill_rate_modifiers
      tags:
      - default
  /api/v1/admin/offers/publish/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_publish_offer
      tags:
      - default
  /api/v1/admin/offers/status/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_acceptance_status
      tags:
      - default
  /api/v1/admin/offers/update-contract:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers_contract
      tags:
      - default
  /api/v1/admin/offers/update-notes:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers_notes
      tags:
      - default
  /api/v1/admin/offers/update/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_update_offers
      tags:
      - default
  /api/v1/admin/offers/view/{offer_id}/:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_view_offer
      tags:
      - default
  /api/v1/admin/offers/zendesk/{offer_id}:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_upsert_offer_zendesk_ticket
      tags:
      - default
  /api/v1/admin/premier-navigator/acknowledge-recent-events/:
    put:
      responses:
        '200':
          description: Success
      summary: Acknowledges a provider's recent events for a logged-in premier navigator
      operationId: put_premier_navigator_admin_acknowledge_recent_events_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/availability-date/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Updates the availability date for a provider
      operationId: put_premier_navigator_availability_date_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/available-voice-endpoints/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_available_voice_endpoints_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/claim-provider/:
    put:
      responses:
        '200':
          description: Success
      summary: Claims a provider for a logged-in premier navigator
      operationId: put_premier_navigator_admin_claim_provider_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/claimed-queue/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_claimed_queue_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/jobpost-communication/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_admin_jobpost_communication_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_jobpost_communication_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/live-jobs-v2/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_live_jobs_v2_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/live-jobs/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_live_jobs_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_messages_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/conversations/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_conversations_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/conversations/{conversation_id}/mark-read/:
    parameters:
    - name: conversation_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_mark_conversation_read_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/mark-read/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_mark_messages_read_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/send/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_send_message_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/suggested-messages/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_suggested_message_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/suggested-messages/generate/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_generate_suggested_message_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/suggested-messages/task/{task_id}/:
    parameters:
    - name: task_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_get_suggested_message_task_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/unread-count/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_message_unread_count_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/voice-calls/{call_id}/status/:
    parameters:
    - name: call_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_voice_message_status_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/{message_id}/attachment/{attachment_id}/:
    parameters:
    - name: message_id
      in: path
      required: true
      schema:
        type: string
    - name: attachment_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_mms_media_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/messages/{message_id}/recording/:
    parameters:
    - name: message_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_voice_message_recording_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/provider/{provider_id}/high-priority/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      summary: Marks a provider as high priority for a logged-in premier navigator
      operationId: post_premier_navigator_provider_high_priority_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/providers-for-job/{job_id}/:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: Get providers that match a job's specialization
      description: 'This endpoint supports 3 tabs in the ui:


        All:

        - Cln''s Specializations match the job, expanded by specialty matrix

        - Uses token-based pagination (search_before/search_after)

        - Sorted by apply intent score by default


        "My Matching Clinicians":

        - Clinicians claimed by the requesting PN


        "Unclaimed Matching Clinicians":

        - Clinicians not claimed by any PN

        - At least minimum qualified for the job

        - Capped at 25 records (no pagination)


        "Claimed Matching Clinicians" - this UI is used by PN Managers and AMs:

        - Clinicians claimed by ANY PN

        - At least minimum qualified for the job


        Note about the claimed filter:

        *** this maps to claimed BY THE AUTHED CALLER, not claimed BY ANY PN ***'
      operationId: get_premier_navigator_providers_for_job_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/reminders/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_reminders_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_reminders_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/reminders/{reminder_id}/:
    parameters:
    - name: reminder_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_premier_navigator_reminder_resource
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_reminder_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/reminders/{reminder_id}/acknowledge/:
    parameters:
    - name: reminder_id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_reminder_acknowledge_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/unclaim-provider/:
    put:
      responses:
        '200':
          description: Success
      summary: Unclaims a provider from a logged-in premier navigator
      operationId: put_premier_navigator_admin_unclaim_provider_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/unclaimed-queue/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_unclaimed_queue_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/users/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_user_list_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/users/{user_id}/routing/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      summary: Updates the routing config for a premier navigator
      operationId: put_premier_navigator_admin_user_routing_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_admin_user_routing_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/verify-specialization/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_verify_specialization_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/voice-calls/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_premier_navigator_outbound_voice_call_resource
      tags:
      - default
  /api/v1/admin/premier-navigator/voice-inbound-availability/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_premier_navigator_voice_inbound_availability_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_premier_navigator_voice_inbound_availability_resource
      tags:
      - default
  /api/v1/admin/prioritized-placements/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_prioritized_placements
      tags:
      - default
  /api/v1/admin/providers/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_provider_resource
      tags:
      - default
  /api/v1/admin/referrals/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_referrals_referral_resource
      tags:
      - default
  /api/v1/agency/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_agency_resource
      tags:
      - default
  /api/v1/agency/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_agency_detail_resource
      tags:
      - default
  /api/v1/application-autopilot-user/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_autopilot_users_resource
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_autopilot_users_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_autopilot_users_resource
      tags:
      - default
  /api/v1/application-autopilot-users/list:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_autopilot_users_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_autopilot_users_list_resource
      tags:
      - default
  /api/v1/application-cart/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_cart_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_cart_resource
      tags:
      - default
  /api/v1/application-cart/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_cart_detail_resource
      tags:
      - default
  /api/v1/application-center/items/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_center_items_resource
      tags:
      - default
  /api/v1/application/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_resource
      tags:
      - default
  /api/v1/application/apply/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_apply_resource
      tags:
      - default
  /api/v1/application/data/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_data_list_resource
      tags:
      - default
  /api/v1/application/data/submit/credential-candidates/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_credential_candidates_resource
      tags:
      - default
  /api/v1/application/data/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_application_data_detail_resource
      tags:
      - default
    put:
      responses:
        '200':
          description: Success
      operationId: put_application_data_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_data_detail_resource
      tags:
      - default
  /api/v1/application/form-schemas/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_form_schemas_list_resource
      tags:
      - default
  /api/v1/application/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_sections_list_resource
      tags:
      - default
  /api/v1/application/validation/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_validation_resource
      tags:
      - default
  /api/v1/application/vetting/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_vetting_resource
      tags:
      - default
  /api/v1/application_center/applications/:
    get:
      responses:
        '200':
          description: Success
      summary: List all applications and their status details for a provider,
      description: filtered by status. For the application center page.
      operationId: get_application_center
      tags:
      - default
  /api/v1/application_center/vetting/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_center_app_vetting
      tags:
      - default
  /api/v1/application_center/withdraw/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_application_center_withdraw_app
      tags:
      - default
  /api/v1/applications/easy-apply/status/:
    get:
      responses:
        '200':
          description: Success
      summary: Checks a user's easy-apply status
      operationId: get_easy_apply_status_api
      tags:
      - default
  /api/v1/applications/jobpost/{jobpost_id}:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_application
      tags:
      - default
  /api/v1/applications/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_application_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_resource
      tags:
      - default
  /api/v1/applications/{id}/validation/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_validation_resource
      tags:
      - default
  /api/v1/applications/{id}/work-experience-facilities/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_application_work_experience_facilities_resource
      tags:
      - default
  /api/v1/assessments/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_assessments_api
      tags:
      - default
  /api/v1/audit-events/{entity}/{id}/:
    parameters:
    - name: entity
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_audit_events_list
      tags:
      - default
  /api/v1/auth/login-link/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_login_link_resource
      tags:
      - default
  /api/v1/auth/login/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_login_resource
      tags:
      - default
  /api/v1/auth/logout/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_auth_logout_resource
      tags:
      - default
  /api/v1/auth/reauthenticate/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reauthenticate_resource
      tags:
      - default
  /api/v1/badge/all/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_badge_resource
      tags:
      - default
  /api/v1/campaign/categories:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_categories_api
      tags:
      - default
  /api/v1/campaign/jobs:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_jobs_api
      tags:
      - default
  /api/v1/campaign/statistics:
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_statistics_api
      tags:
      - default
  /api/v1/campaign/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_campaign_api
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_campaign_api
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaign_api
      tags:
      - default
  /api/v1/campaigns/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_campaigns_api
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_campaigns_api
      tags:
      - default
  /api/v1/certification-names/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certification_names
      tags:
      - default
  /api/v1/certifications/all/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certifications_resource
      tags:
      - default
  /api/v1/certifications/clinical/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_certifications_clinical
      tags:
      - default
  /api/v1/communications/settings/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_communication_settings_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_communication_settings_resource
      tags:
      - default
  /api/v1/confirm_email:
    post:
      responses:
        '200':
          description: Success
      operationId: post_confirm_email
      tags:
      - default
  /api/v1/credential-candidate/sections/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_credential_candidate_sections_list_resource
      tags:
      - default
  /api/v1/credentialing/categories/definition/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_category_definition
      tags:
      - default
  /api/v1/credentialing/categories/schema/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_category_schema_detail
      tags:
      - default
  /api/v1/credentialing/categories/scope/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_valid_categories_by_scope
      tags:
      - default
  /api/v1/credentialing/clinicians/view/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_clinician_lookup
      tags:
      - default
  /api/v1/credentialing/credentials/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_credential_browse
      tags:
      - default
  /api/v1/credentialing/requirements/complete-application-question/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_requirement_application_question_complete
      tags:
      - default
  /api/v1/credentialing/requirements/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_requirements_complete
      tags:
      - default
  /api/v1/credentialing/requirements/reset/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reset_requirement
      tags:
      - default
  /api/v1/credentialing/timecards/browse/current/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_timecards_by_placement_browse_current
      tags:
      - default
  /api/v1/credentialing/timecards/complete/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_timecard_complete
      tags:
      - default
  /api/v1/credentialing/timecards/shifts/shift_types/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_timecard_shift_types
      tags:
      - default
  /api/v1/credentialing/timecards/submit/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_timecard_submit
      tags:
      - default
  /api/v1/credentialing/timecards/update/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_timecard_update
      tags:
      - default
  /api/v1/credentials/provider-data/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_credentials_provider_data_resource
      tags:
      - default
  /api/v1/credentials/timeline/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: 'NOTE: "state_nursing_license" category will be includes after finishing WFP-266'
      operationId: get_admin_timeline_resource
      tags:
      - default
  /api/v1/demand_entity/facilities/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_facilities_detail
      tags:
      - default
  /api/v1/demand_entity/facilities/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_facility_detail
      tags:
      - default
  /api/v1/demand_entity/health_systems/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_health_systems_detail
      tags:
      - default
  /api/v1/demand_entity/health_systems/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_health_system_detail
      tags:
      - default
  /api/v1/demand_entity/msp/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_msps_detail
      tags:
      - default
  /api/v1/demand_entity/msp/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_msp_detail
      tags:
      - default
  /api/v1/demand_entity/specializations/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specializations_detail
      tags:
      - default
  /api/v1/demand_entity/specializations/codes/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail_by_codes
      tags:
      - default
  /api/v1/demand_entity/specializations/codes/{code}/:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail_by_code
      tags:
      - default
  /api/v1/demand_entity/specializations/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_demand_entity_specialization_detail
      tags:
      - default
  /api/v1/discipline-info/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_discipline_info_list_api
      tags:
      - default
  /api/v1/discipline-names/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_discipline_names_list
      tags:
      - default
  /api/v1/documents/:
    get:
      responses:
        '200':
          description: Success
      summary: Fetch documents
      operationId: get_documents_resource
      tags:
      - default
  /api/v1/documents/provider/upload/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_documents_provider_upload_api_resource
      tags:
      - default
  /api/v1/dyna-home/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_dyna_home_list_resource
      tags:
      - default
  /api/v1/education-types/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_education_types_resource
      tags:
      - default
  /api/v1/events/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_event_list
      tags:
      - default
  /api/v1/events/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_events
      tags:
      - default
  /api/v1/external-verification-authorities-for-provider/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_valid_external_verification_authorities_for_provider_resource
      tags:
      - default
  /api/v1/external-verifications/{external_verification_id}/:
    parameters:
    - name: external_verification_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_delete_external_verification_resource
      tags:
      - default
  /api/v1/facility/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_facility_base_resource
      tags:
      - default
  /api/v1/facility/form-options/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_form_options_resource
      tags:
      - default
  /api/v1/facility/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_search_resource
      tags:
      - default
  /api/v1/facility/{id_or_slug}/:
    parameters:
    - name: id_or_slug
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_details_by_id_or_slug_resource
      tags:
      - default
  /api/v1/facility/{id}/edit/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_facility_edit_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_facility_edit_resource
      tags:
      - default
  /api/v1/fx/accounts/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_accounts_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_accounts_list_resource
      tags:
      - default
  /api/v1/fx/accounts/{account_id}/candidates-job-posts/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      summary: Retrieves a list of Candidates Job Posts for a facility
      description: 'NOTE: the Bill Rate Insight average can contain either arithmetic mean or median'
      operationId: get_candidates_job_posts_list_resource
      tags:
      - default
  /api/v1/fx/accounts/{account_id}/candidates-job-posts/{id}/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_candidates_job_posts_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: Retrieves a single Candidates Job Post
      description: 'NOTE: the Bill Rate Insight average can contain either arithmetic mean or median'
      operationId: get_candidates_job_posts_detail_resource
      tags:
      - default
  /api/v1/fx/accounts/{account_id}/users/{id}/:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_fx_account_users_detail_resource
      tags:
      - default
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_account_users_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_account_users_detail_resource
      tags:
      - default
  /api/v1/fx/accounts/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_accounts_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_accounts_detail_resource
      tags:
      - default
  /api/v1/fx/accounts/{id}/users/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_account_users_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_account_users_resource
      tags:
      - default
  /api/v1/fx/candidates/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_list_resource
      tags:
      - default
  /api/v1/fx/candidates/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_detail_resource
      tags:
      - default
  /api/v1/fx/candidates/{id}/offer/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_candidates_detail_offer_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_candidates_detail_offer_resource
      tags:
      - default
  /api/v1/fx/users/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_users_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_list_resource
      tags:
      - default
  /api/v1/fx/users/me/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_me_resource
      tags:
      - default
  /api/v1/fx/users/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_fx_users_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_fx_users_detail_resource
      tags:
      - default
  /api/v1/fx/users/{id}/identities/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_fx_users_identities_resource
      tags:
      - default
  /api/v1/health-system/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_health_system_search_resource
      tags:
      - default
  /api/v1/health-systems-autocomplete:
    get:
      responses:
        '200':
          description: Success
      operationId: get_health_system_autocomplete_resource
      tags:
      - default
  /api/v1/health-systems/:
    post:
      responses:
        '200':
          description: Success
      summary: This endpoint will create a new health system and return the newly created entity
      operationId: post_health_system_list
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will return all of the matching health systems according
      description: to the given query.
      operationId: get_health_system_list
      tags:
      - default
  /api/v1/health-systems/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      summary: This endpoint will update the given fields on the health system entity,
      description: it will return the updated health system.
      operationId: patch_health_system_detail
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will get the entire health system object according to the specified id
      operationId: get_health_system_detail
      tags:
      - default
  /api/v1/hellosign/signature-request-events/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_hellosign_signature_request_event
      tags:
      - default
  /api/v1/incidents/:
    post:
      responses:
        '200':
          description: Success
      summary: Create a new incident
      operationId: post_incidents_list
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: List all incidents unless filtered by provided query parameters
      operationId: get_incidents_list
      tags:
      - default
  /api/v1/incidents/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      summary: Delete an incident
      operationId: delete_incidents_detail
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      summary: Update given fields and return updated incident
      operationId: patch_incidents_detail
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: Details about an incident
      operationId: get_incidents_detail
      tags:
      - default
  /api/v1/internal/communications/dataclass-schemas/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_data_class_list
      tags:
      - default
  /api/v1/internal/communications/dataclass-schemas/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_data_class
      tags:
      - default
  /api/v1/iterable/channel-unsubscribes:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_channel_unsubscribes
      tags:
      - default
  /api/v1/iterable/datafeed/job-digest/{user_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_digest_resource
      tags:
      - default
  /api/v1/iterable/datafeed/sample/{user_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_iterable_job_digest_api
      tags:
      - default
  /api/v1/iterable/sms-subscribes:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_sms_channel_subscribes
      tags:
      - default
  /api/v1/job-commitments/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_job_commitments_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_commitments_resource
      tags:
      - default
  /api/v1/job-digest-preferences/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_job_digest_preferences_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_digest_preferences_resource
      tags:
      - default
  /api/v1/job-pricing/bill-rate-modifiers/{entity_type}/{entity_id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_pricing_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_pricing_detail_resource
      tags:
      - default
  /api/v1/job-pricing/jobposts/{entity_type}/{entity_id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_pricing_job_posts_by_entity_resource
      tags:
      - default
  /api/v1/job_source/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_source_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_source_resource
      tags:
      - default
  /api/v1/job_source/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_job_source_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_source_detail_resource
      tags:
      - default
  /api/v1/jobpost-searches/current/:
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_job_post_search_current_resource
      tags:
      - default
  /api/v1/jobpost_evaluation/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_evaluation_api
      tags:
      - default
  /api/v1/jobposts/categories/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_jobpost_search_categories_api
      tags:
      - default
  /api/v1/jobposts/public_jobpost_search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_public_jobpost_search
      tags:
      - default
  /api/v1/jobposts/recommendations/admin/job-matches/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_job_matches
      tags:
      - default
  /api/v1/jobposts/recommendations/admin/missing-requirements/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_missing_requirements
      tags:
      - default
  /api/v1/jobposts/recommendations/similar-jobposts/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_similar_jobs_resource
      tags:
      - default
  /api/v1/jobposts/recommendations/top-matches/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_top_matches
      tags:
      - default
  /api/v1/jobposts/search/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_jobposts_search
      tags:
      - default
  /api/v1/jobposts/{id}/job-details-extractions/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_details_extraction_list_resource
      tags:
      - default
  /api/v1/jobposts/{id}/jobrobotix-history/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_robotix_history_list
      tags:
      - default
  /api/v1/jobposts/{jobpost_id}/claim:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_claim_resource
      tags:
      - default
  /api/v1/jobposts/{jobpost_id}/requirements/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_job_post_requirements_api
      tags:
      - default
  /api/v1/jobposts/{jobpost_id}/unclaim:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_post_unclaim_resource
      tags:
      - default
  /api/v1/lead/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_lead_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_lead_resource
      tags:
      - default
  /api/v1/license-checks/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_license_checks_list
      tags:
      - default
  /api/v1/license-checks/provider/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_license_checks_summary_by_provider
      tags:
      - default
  /api/v1/license-checks/refresh/:
    put:
      responses:
        '200':
          description: Success
      operationId: put_license_checks_refresh
      tags:
      - default
  /api/v1/license-checks/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_license_checks_detail
      tags:
      - default
  /api/v1/license-checks/{output_type}/{provider_id}/:
    parameters:
    - name: output_type
      in: path
      required: true
      schema:
        type: string
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_license_checks_report
      tags:
      - default
  /api/v1/location/location_autocomplete:
    get:
      responses:
        '200':
          description: Success
      operationId: get_location_autocomplete
      tags:
      - default
  /api/v1/location/place_details:
    get:
      responses:
        '200':
          description: Success
      operationId: get_place_details
      tags:
      - default
  /api/v1/marketing-tags:
    get:
      responses:
        '200':
          description: Success
      operationId: get_marketing_tags_api
      tags:
      - default
  /api/v1/merge-facilities/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_merge_facilities
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_merge_facilities
      tags:
      - default
  /api/v1/merge-facilities/{id}/preview/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_merge_facilities_preview
      tags:
      - default
  /api/v1/messages/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_messages
      tags:
      - default
  /api/v1/messages/by-thread/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_messages_by_thread
      tags:
      - default
  /api/v1/messages/documents/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_messages_documents
      tags:
      - default
  /api/v1/messages/parent-thread-info/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_parent_thread_info
      tags:
      - default
  /api/v1/messages/thread-documents/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_thread_documents
      tags:
      - default
  /api/v1/native-app/minimum-version/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_native_app_minimum_version_resource
      tags:
      - default
  /api/v1/notification-center/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_notification_center
      tags:
      - default
  /api/v1/notification-center/archive/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_notification_center_archive
      tags:
      - default
  /api/v1/notification-center/update-read/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_mark_read_unread
      tags:
      - default
  /api/v1/nurse-facility-autocomplete/:
    get:
      responses:
        '200':
          description: Success
      summary: Atlas Search API for autocomplete suggestions on Nurse Facility collection
      operationId: get_nurse_facility_autocomplete_resource
      tags:
      - default
  /api/v1/offers/calculate_rates/{job_id}:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_calculate_pay_rate
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_calculate_pay_rate
      tags:
      - default
  /api/v1/offers/{offer_id}/agreements:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_offer_agreements_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_offer_agreements_resource
      tags:
      - default
  /api/v1/offers/{offer_id}/agreements/upload:
    parameters:
    - name: offer_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_custom_agreement_upload_resource
      tags:
      - default
  /api/v1/onboarding/completed/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_onboarding_completed_resource
      tags:
      - default
  /api/v1/onboarding/credentials/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_credentials_resource
      tags:
      - default
  /api/v1/onboarding/metadata/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_onboarding_metadata_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_onboarding_metadata_resource
      tags:
      - default
  /api/v1/one-click-apply/carousel/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_one_click_apply_carousel_api
      tags:
      - default
  /api/v1/openapi/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_open_api
      tags:
      - default
  /api/v1/packet/admin-cover-sheet-reply/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_packet_cover_sheet_reply_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_packet_cover_sheet_reply_resource
      tags:
      - default
  /api/v1/packet/cover-sheet-form-choices/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_packet_cover_sheet_form_choices_resource
      tags:
      - default
  /api/v1/packet/cover-sheet-forms/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_packet_cover_sheet_forms_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_packet_cover_sheet_forms_list_resource
      tags:
      - default
  /api/v1/packet/cover-sheet-forms/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_packet_cover_sheet_forms_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_packet_cover_sheet_forms_detail_resource
      tags:
      - default
  /api/v1/packet/cover-sheet-reply/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_packet_cover_sheet_reply_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_packet_cover_sheet_reply_resource
      tags:
      - default
  /api/v1/placement-assignee/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_placement_assignee
      tags:
      - default
  /api/v1/placement-workflow-definitions/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_placement_workflow_definition_list
      tags:
      - default
  /api/v1/placement-workflow-definitions/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_placement_workflow_definition_detail
      tags:
      - default
  /api/v1/placement-workflows/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_placement_workflow_detail
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_placement_workflow_detail
      tags:
      - default
  /api/v1/placements/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_placement_list
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_placement_list
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will return all of the matching placements according to the given query
      operationId: get_placement_list
      tags:
      - default
  /api/v1/placements/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      summary: This endpoint will update the given fields on the placement entity, it will return the
      description: updated placement.
      operationId: patch_placement_detail
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      summary: This endpoint will get the entire placement object according to the specified id
      operationId: get_placement_detail
      tags:
      - default
  /api/v1/placements/{placement_id}/current_state/:
    parameters:
    - name: placement_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_admin_orchestration_current_state_resource
      tags:
      - default
  /api/v1/placements/{placement_id}/orchestration_state/:
    parameters:
    - name: placement_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_admin_orchestration_next_state_resource
      tags:
      - default
  /api/v1/profile_evaluation/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_profile_evaluation_api
      tags:
      - default
  /api/v1/progressive-profiling/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_progressive_profiling_detail_resource
      tags:
      - default
  /api/v1/provider-activity/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_activity_resource
      tags:
      - default
  /api/v1/provider-bookmarks/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_provider_bookmarks_detail
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_provider_bookmarks_detail
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_bookmarks_detail
      tags:
      - default
  /api/v1/provider-facility-autocomplete/:
    get:
      responses:
        '200':
          description: Success
      summary: ES-powered API for autocomplete suggestions generated from the facility collection
      operationId: get_provider_facility_autocomplete
      tags:
      - default
  /api/v1/provider-sizzle-agent/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_provider_sizzle_agent_post_resource
      tags:
      - default
  /api/v1/provider-sizzle-agent/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_sizzle_agent_detail_resource
      tags:
      - default
  /api/v1/provider-sizzle/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_sizzle_detail_resource
      tags:
      - default
  /api/v1/provider-sizzle/{provider_id}/approve/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_provider_sizzle_approve_resource
      tags:
      - default
  /api/v1/provider-sizzle/{provider_id}/edit/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_provider_sizzle_edit_resource
      tags:
      - default
  /api/v1/provider-sizzle/{provider_id}/reject/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_provider_sizzle_reject_resource
      tags:
      - default
  /api/v1/provider/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_provider_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_provider_resource
      tags:
      - default
  /api/v1/provider/{id}/notes/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_provider_notes_resource
      tags:
      - default
  /api/v1/provider/{id}/notes/{note_id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: note_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_provider_note_detail_resource
      tags:
      - default
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_provider_note_detail_resource
      tags:
      - default
  /api/v1/public/reference_form/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_public_reference_form_resource
      tags:
      - default
  /api/v1/qualification/jobpost/{jobpost_id}/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_qualified_providers_resource
      tags:
      - default
  /api/v1/qualification/provider/{provider_id}/:
    parameters:
    - name: provider_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_qualified_jobposts_resource
      tags:
      - default
  /api/v1/qualification/state/jobpost/{jobpost_id}/:
    parameters:
    - name: jobpost_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_qualification_state_summary_resource
      tags:
      - default
  /api/v1/quick-apply/application/{application_id}/:
    parameters:
    - name: application_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_quick_apply_application_resource
      tags:
      - default
  /api/v1/quick-apply/application/{application_id}/resume/:
    parameters:
    - name: application_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_quick_apply_application_resume_resource
      tags:
      - default
  /api/v1/quick-apply/applications/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_quick_apply_applications_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_quick_apply_applications_resource
      tags:
      - default
  /api/v1/recommendation/provider/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_job_recommendations_resource
      tags:
      - default
  /api/v1/referrals/campaigns/active/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_referral_campaign_api
      tags:
      - default
  /api/v1/referrals/invite/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_referrals_referral_invite_resource
      tags:
      - default
  /api/v1/referrals/referral-url/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_referrals_referral_url_resource
      tags:
      - default
  /api/v1/referrals/referred-users/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_referrals_referred_users_resource
      tags:
      - default
  /api/v1/referrals/user/{user_id}/referral/:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_referrals_referral_details_by_user_resource
      tags:
      - default
  /api/v1/referrals/validate-code/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_referrals_validate_code_resource
      tags:
      - default
  /api/v1/reset-password/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reset_password
      tags:
      - default
  /api/v1/reset-password/check/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reset_password_check_resource
      tags:
      - default
  /api/v1/reset-password/update-password/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_reset_password_update_password_resource
      tags:
      - default
  /api/v1/rule-parameters/hierarchy/job_post/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_rule_parameters_hierarchy_resource
      tags:
      - default
  /api/v1/rule-parameters/{entity_type}/{id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      responses:
        '200':
          description: Success
      operationId: put_rule_parameters_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_rule_parameters_resource
      tags:
      - default
  /api/v1/rules-engine-admin/config_values/{entity_type}/{entity_id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_entity_config_values_list_resource
      tags:
      - default
  /api/v1/rules-engine-admin/config_values/{entity_type}/{entity_id}/{config_name}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    - name: config_name
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_rules_engine_admin_entity_config_value_resource
      tags:
      - default
    put:
      responses:
        '200':
          description: Success
      operationId: put_rules_engine_admin_entity_config_value_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_entity_config_value_resource
      tags:
      - default
  /api/v1/rules-engine-admin/configs/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_configs_list_resource
      tags:
      - default
  /api/v1/rules-engine-admin/forms/rule-instances/{entity_type}/{entity_id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      operationId: post_rules_engine_admin_forms_rule_instance_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_forms_rule_instance_list_resource
      tags:
      - default
  /api/v1/rules-engine-admin/forms/rule-instances/{entity_type}/{entity_id}/{rule_instance_id}/:
    parameters:
    - name: entity_type
      in: path
      required: true
      schema:
        type: string
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    - name: rule_instance_id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_rules_engine_admin_forms_rule_instance_detail_resource
      tags:
      - default
    put:
      responses:
        '200':
          description: Success
      operationId: put_rules_engine_admin_forms_rule_instance_detail_resource
      tags:
      - default
  /api/v1/rules-engine-admin/forms/rules/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_forms_rules_list_resource
      tags:
      - default
  /api/v1/rules-engine-admin/rules/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_rules_engine_admin_rules_list_resource
      tags:
      - default
  /api/v1/rules-engine/jobpost-rules-resolution-preview/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_jobpost_rules_resolution_preview_resource
      tags:
      - default
  /api/v1/sar-debug-tool/recommendations/:
    get:
      responses:
        '200':
          description: Success
      operationId: get_sar_debug_tool_recommendations
      tags:
      - default
  /api/v1/saved-admin-view/:
    post:
      responses:
        '200':
          description: Success
      operationId: post_saved_admin_view_list_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
      operationId: get_saved_admin_view_list_resource
      tags:
      - default
  /api/v1/saved-admin-view/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      responses:
        '200':
          description: Success
      operationId: delete_saved_admin_view_detail_resource
      tags:
      - default
    put:
      responses:
        '200':
          description: Success
      operationId: put_saved_admin_view_detail_resource
      tags:
      - default
    get:
      responses:
        '200':
          description: Success
[...]
